# Ignore all subdirectories inside datasets/
simulator/datasets/*/

# Ignore ancient directory
simulator/src/ancient

# Ignore macOS metadata files
**/.DS_Store

# temporary vivado files
*.sim/
*.chache/
*.log
*.jou
*.str
*.pb
*.wdb
*.db
*.rlx
*.rtti
*.sdb
*.dbg
*.mem
*.ini
*.xdbg
*.xpr

# vivado XSim simulation directories
**/xsim.dir/
**/behav/xsim/
**/behav/questa/
**/.Xil/
**/.xcl.*/
**/vivado.jou
**/vivado.log
